<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReportViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F216C7601EEE4543004B5C0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F216C7791EEE4543004B5C0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F216C7841EEE4543004B5C0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
